engine-strict = true
enable-pre-post-scripts = true
auto-install-peers = true
@vds:registry = "https://registry.tools.paramountplus.com/"
@cbsi-cbscom:registry = "https://npm.pkg.github.com/"
@cbsinteractive:registry = "https://npm.pkg.github.com/"
registry = "https://registry.npmjs.org/"
@viacom:registry = "https://registry.tools.paramountplus.com/"
use-node-version=22.15.1
