.box {
    width: 780px;
    height: 630px;
    
    border-radius: var(--border-radius-16, 16px);
    background: var(--color-background-alt, #1d1d1d);
    background-color: var(--color-background-alt, #1d1d1d);
}
